{% extends 'base.html' %}

{% block title %}お問い合わせ{% endblock %}

{% block active_inquiry %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-group row">
                        <label for="{{ field.id_for_label }}" class="col-4 mt-3 mb-3">
                            <strong>{{ field.label_tag }}</strong>
                        </label>
                        <div class="col-8">
                            {{ field }}
                            {{ field.error }}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-4 mx-auto">
                        <button type="submit" class="btn btn-primary mt-3">送信</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}